    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family:'Arial Narrow Bold';
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #52341b;
    }

    .login-comeco{
        background-color: #c1bbb2;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px #fff;
        width: 300px;
        text-align: center;
    }

    h2 {
        margin-bottom: 20px;
    }

    .grupo-input{
        margin-bottom: 15px;
        text-align: left;
    }

    label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #c1bbb2;
        border-radius: 30px;
        border-color: #52341b;
        color: #000000;
        font-size: 16px;
        cursor:pointer;
    }

    button:hover{
        background-color: #52341b;
        color: #fff;
    }

    /* #errorMessage{
        color: rgb(215, 213, 218);
        margin-top: 10px;
        font-size: 16px;
    } */